<div class="block">
	<h1>Archiv</h1>
	<% if !@posts.empty? %>
		<table class="pure-table pure-table-bordered" style="width:100%;">
			<thead>
				<th>Url</th>
				<th>Datum</th>
				<th>Typ</th>
			</thead>
			<% for post in @posts %>
				<tr>
					<td><a href="<%= post.url.nice %>"><%= post.title %></a></td>
					<td>
						<%= post.created_at_formated %>
					</td>
					<td>
						<%= '<i class="icon-pencil-2"></i>' if post.type == "text" %>
						<%= '<i class="icon-music"></i>' if post.type == "music" %>
      					<%= '<i class="icon-camera"></i>' if post.type == "video" %>
					</td>
				</tr>
			<% end %>
	  	</table>
	<% else %>
	  <p>No Items</p>
	<% end %>
</div>
