<script type="text/javascript" src="/js/moment.js"></script>
<div class="block">
	<h1>Archiv</h1>
	<% if !@posts.blank? %>
		<table class="pure-table pure-table-bordered" style="width:100%;">
			<thead>
				<th>Url</th>
				<th>Datum</th>
				<th>Typ</th>
			</thead>
			<% for post in @posts %>
				<tr>
					<td><a href="<%= post.url.nice %>"><%= post.title %></a></td>
					<td>
						<script type="text/javascript">
							document.write(moment("<%= post.created_at.to_s.gsub(' UTC', '') %>").format('MMMM Do YYYY, h:mm:ss a'));
						</script>
					</td>
					<td>
						<%= '<i class="icon-pencil-2"></i>' if post._type == "Post" %>
						<%= '<i class="icon-music"></i>' if post._type == "MusicPost" %>
      					<%= '<i class="icon-camera"></i>' if post._type == "VideoPost" %>
					</td>
				</tr>
			<% end %>
	  	</table>
	<% else %>
	  <p>Keine Items</p>
	<% end %>
</div>