<% if admin? %>
  <div class="block">
    <% if SoundCloudToken.first == nil %>
      <aside>
        Hey, there is no souncloud account linked you can fix that here: 
        <a href='/auth' class="pure-button"><i class='icon-soundcloud'></i> connect</a>
      </aside>
    <% end %>
    <% if @element != "music" && @element != "text" && @element != "video" %>
      <%= erb :createNew %>
    <% end %>
    <% if @element == "music" %>
      <%= erb :addMusic %>
    <% end %>
    <% if @element == "text" %>
      <%= erb :addText %>
    <% end %>
    <% if @element == "video" %>
      <%= erb :addVideo %>
    <% end %>
  </div>
<% end %>

<% if @posts %>
  <% @posts.each do |post| %>
    <div style="background-color: <%= (post.publish == true ? "white" : "silver")%>;" class="block">
      <h1 class="pull-left"><%= post.title %></h1>
      <%= erb :adminPostControl, :locals => {:post => post} if admin? %>
      <div style="clear:both;">
        <%= Maruku.new(post.text).to_html.byteslice(0, 1000) %>
      </div>
      <%= post.embedded if post.type == "music" || post.type == "video" %>
      <a href="/<%= post.theurl.nice %>">read more</a>
    </div>
  <% end %>
<% end %>

<% if @post %>
  <div style="background-color: <%= (@post.publish == true ? "white" : "silver")%>;" class="block">
    <h1 class="pull-left"><%= @post.title %></h1>
    <%= erb :adminPostControl, :locals => {:post => @post} if admin? %>
    <div class="clear">
      <%= Maruku.new(@post.text).to_html%>
    </div>
    <%= @post.embedded if @post.type == "music" || @post.type == "video" %>
  </div>
<% end %>

<% if @postPagesTotal != nil && @postPagesTotal > 1 %>
      <div class="pagination pagination-centered">
        <ul style="margin-bottom:20px;">
          <% if @pageId > 1 %>
            <li><a href="/page/<%= @pageId -1 %>">«</a></li>
          <% else %>
            <li class="disabled"><span>«</span></li>
          <% end %>

          <% (1..@postPagesTotal).each do |i| %>
            <% if i != @pageId %>
              <li><a href="/page/<%= i %>"><%= i %></a></li>
            <% else %>
              <li class="disabled"><span><%= i %></span></li>
            <% end %>
          <% end %>
          
          <% if @postPagesTotal > @pageId %>
            <li><a href="/page/<%= @pageId + 1 %>">»</a></li>
          <% else %>
            <li class="disabled"><span>»</span></li>
          <% end %>
        </ul>
      </div>
<% end %>