<!DOCTYPE html>
<html style="" class="js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= AppConfig["BlogTitel"] %></title>
    <meta name="description" content="<%= AppConfig["BlogTitel"] %>">

    <script src="/js/modernizr-2.6.2.js.download"></script>
    <link href="/css/site.css" rel="stylesheet">
</head>
<body style="">
    <div class="header">
        <div class="navigation">
            <div class="navigation-item">
                <a class="<%= (@nav != nil && @nav == 'home' || @nav == nil) ? 'nav-selected' : 'nav-unselected'%>" href="/">Lucky Martin</a>
            </div>
            <div class="navigation-item">
                <a class="<%= (@nav != nil && @nav == 'blog') ? 'nav-selected' : 'nav-unselected'%>" href="/blog">Blog</a>
            </div>
            <% seleced = (@nav != nil && @nav == "social") ? "nav-selected" : "nav-unselected" %>
            <%= "<div class='navigation-item'><a class='#{seleced}' href='/social'>Social</a></div>" if admin? %>
            <div class="quick-links">

                <% if !AppConfig["Social"].empty? %>
                    <% for account in AppConfig["Social"] %>
                      <% s = Social.find(:key => account); if s != nil && s.url != "" && s.position == 1 %>
                        <div class="icon">
                            <a href="<%= s.url %>" target="_blank"><img src="/img/social/<%= account %>.png"></a>
                        </div>
                      <% end %>
                    <% end %>
                <% end %>
                <div class="icon">
                    <a href="/rss"><img src="/img/social/Rss.png"></a>
                </div>
              
            </div>
        </div>
    </div>
    
    <div class="main">
        <div class="content">
            <%= yield %>
        </div>
    </div>

    <div class="footer">
        <div class="inner-footer">
            <% if !AppConfig["Social"].empty? %>
                <table>
                <% for account in AppConfig["Social"] %>
                    <% s = Social.find(:key => account); if s != nil && s.url != "" && s.position == 0 %>
                        <tr>
                            <td>
                                <div class="icon">
                                    <img src="/img/social/<%= account %>.png">
                                </div>
                            </td>
                            <td>
                                <p><%= s.url %></p>
                            </td>
                        </tr>
                    <% end %>
                <% end %>
                </table>
            <% end %>
        </div>
    </div>
    
    <!-- Le javascript -->
    <script type="text/javascript" src="/js/main.min.js"></script>
    <script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>

    <%= erb :tracking %>
</body>
</html>