<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= AppConfig["BlogTitel"] %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= AppConfig["BlogTitel"] %>">
    <meta name="author" content="fliiiix">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>

  <body class="<%= 'backgroundImage' if @loginPage%>">
    <div class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
      <a href="/" class="pure-menu-heading"><%= AppConfig["BlogTitel"] %></a>
      <ul>
          <li class="pure-menu-item <%= "pure-menu-selected" if !@aboutMenu %>"><a href="/">Home</a></li>
          <li class="pure-menu-item <%= "pure-menu-selected" if @aboutMenu %>"><a href="/about">About</a></li>
          <li class="pure-menu-item"><a href="/archiv">Archiv</a></li>
          <%= '<li class="pure-menu-item"><a href="/social">Social</a></li>' if admin? %>
      </ul>

      <ul class="pull-right login">
        <% if admin? %>
          <li><i class="icon-user"></i> Hi <%= AppConfig["User"] %></li>
          <li><a href="/logout">Logout</a></li>
        <% else %>
          <li><a href="/login">Login</a></li>
        <% end %>
      </ul>
    </div>

    <div class="banner" <%= "style='display:none'" if @loginPage %>>
        <h1 class="banner-head">
           <%= AppConfig["BlogTitel"] %>
        </h1>
        <div class="pull-right" style="margin-top:230px; background-color:rgba(102, 102, 102, 0.5); padding:10px; margin-right:20px; color:black;">
          <% if !Social.all.blank? %>
            <% for account in Social.all %>
              <a href="<%= account.url %>" target="_blank"><img src="/img/social/<%= account.key %>.png"></a>
            <% end %>
          <% else %>
            
          <% end %>
        </div>
    </div>

    <div class="pure-g-r">
      <div class="container pure-u-1">
        <%= yield %>
      </div>
    </div>

    <!-- Le javascript -->
    <script type="text/javascript" src="/js/main.min.js"></script>
    <script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
  </body>
</html>